.chat-panel {
	width: 500px;
}

.chat-panel table {
	max-height: 1000%;
	overflow-y: auto;
}

.chat-inputbar {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.chat-fullscreen table {
	margin-bottom: 50px;
}
