<!DOCTYPE html>
<html ng-app="mainApp">
	<head>
		<title>stark</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="all" />
		<link rel="stylesheet" href="/css/master.css" type="text/css" media="all" />
		<script src="/js/vendor/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/vendor/ui-bootstrap-0.9.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/vendor/d3.v3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/stark.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">stark</a>
				</div>
				<div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default" ng-controller="ChatCtrl">
						<div class="panel-body">
							<form ng-submit="publish()">
								<div class="input-group">
									<input ng-model="message" type="text" class="form-control" placeholder="Talk to me ...">
									<div class="input-group-btn">
										<input type="submit" class="btn btn-primary">
										<span class="glyphicon glyphicon-comment"></span>
										Send
										</input>
									</div>
								</div>
							</form>
						</div>
						<table class="table">
							<tr ng-repeat="chat in responses" ng-class="chat.isSelf ? 'text-info' : ''">
								<td class="col-md-1 text-muted small"><small>{{chat.time | date:'HH:mm'}}</small></td>
								<td class="col-md-1">
									<span class="glyphicon" ng-class="chat.isSelf ? 'glyphicon-arrow-right' : 'glyphicon-arrow-left'"></span>
								</td>
								<td>
									{{chat.text}}
									<pre ng-if="chat.showSource">{{chat.msg | json}}</pre>
								</td>
								<td class="text-right">
									<button class="btn btn-default btn-xs" ng-click="chat.showSource = !chat.showSource">
										<span class="glyphicon glyphicon-cog"></span>
									</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
